
# --- Chat pane + HTTP/JSON deps ---
soup_dep = dependency('libsoup-3.0')
json_dep = dependency('json-glib-1.0')

srcs += [
  'src/panes/chat_pane.c',
  'src/util/logging.c',
  'src/ui/window_chat_integration.c',
]

deps += [ soup_dep, json_dep ]
