
#include "util/logging.h"
#include "ui/window_chat_integration.h"

// After building from main.ui:
GtkTextView *log_view = GTK_TEXT_VIEW(gtk_builder_get_object(builder, "log_view"));
if (log_view) { ustudio_log_bind(log_view); }

GtkWidget *right_box = GTK_WIDGET(gtk_builder_get_object(builder, "right_box"));
ustudio_chat_mount_and_actions(app, GTK_WINDOW(window), right_box);
